<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Index</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <div class="header">
			
            <div class="header">lcbooks</div>
            <div class="nav">
                <div class="navList">
                    <div class="link"><a href="/">首页</a></div>
                    <% for(let i=0;i<cataorys.length;i++){ %>
                    <div class="link"><a href="/cataory/<%=cataorys[i].id%>"><%=cataorys[i].cataory%></a></div>
                    <%}%>

                    <div class="search">
                        <input type="text" id="search">
                        <button class="searchBtn"><span class="icon"></span class="text"><span>搜索</span></button>
                    </div>
                </div>
            </div>
			<canvas class="raining"></canvas>
        </div>

        <script src="js/fire.js" type="text/javascript" charset="utf-8"></script>

        <div class="content">
            <div class="bookList">
                <% for(let i=0;i<books.length;i++){ %>
                    <a href="/books/<%-books[i].id%>">

                <div class="bookItem">
                    <img class="bookImg" src="<%-books[i].bookimg%>" >
                    <h3 class="title"><%-books[i].bookname%></h3>
                    <p class="author"><%-books[i].author%></p>
                    <div class="cataory"><%-books[i].cataory%></div>
                    </a>
                </div>
                <%}%>

            </div>
            <div class="erweima">
                <img src="/img/erweima.jpg" >
            </div>
        </div>

        <script>
            var searchBtn = document.querySelector(".searchBtn")
            searchBtn.onclick = function(e) {
                let value = document.querySelector("#search").value
                location.href = "/search/"+value;
            }
        </script>

    </body>

</html>
